{% extends "base.html" %}

{% block body_class %}
    application-page
{% endblock %}

{% block body %}
    <div class="app-layout">
        {% include "includes/header.html" %}
        {% include "includes/sidebar.html" %}

        <main
            id="main-content"
            class="app-main"
        >
            <div class="app-main__inner">
                {% include "includes/messages.html" %}

                {% block app_content %}
                {% endblock %}
            </div>
        </main>
    </div>
{% endblock %}