<aside
    class="app-sidebar"
    aria-label="Application navigation"
>
    <nav class="sidebar-nav">
        <p class="sidebar-nav__label">
            Operations
        </p>

        <a
            class="sidebar-nav__link
                {% if request.resolver_match.app_name == 'core' %}
                    sidebar-nav__link--active
                {% endif %}
            "
            href="{% url 'core:dashboard' %}"
        >
            Dashboard
        </a>

        {% if perms.customers.view_customer %}
            <a
                class="sidebar-nav__link
                    {% if request.resolver_match.app_name == 'customers' %}
                        sidebar-nav__link--active
                    {% endif %}
                "
                href="{% url 'customers:list' %}"
            >
                Customers
            </a>
        {% endif %}

        {% if perms.vehicles.view_vehicle %}
            <a
                class="sidebar-nav__link
                    {% if request.resolver_match.app_name == 'vehicles' %}
                        sidebar-nav__link--active
                    {% endif %}
                "
                href="{% url 'vehicles:list' %}"
            >
                Vehicles
            </a>
        {% endif %}
        {% if perms.jobs.view_jobcard %}
            <a
                class="sidebar-nav__link
                    {% if request.resolver_match.app_name == 'jobs' %}
                        sidebar-nav__link--active
                    {% endif %}
                "
                href="{% url 'jobs:list' %}"
            >
                Job cards
            </a>
        {% endif %}
        {% if perms.service_catalogue.view_service %}
            <a
                class="sidebar-nav__link
                    {% if request.resolver_match.app_name == 'service_catalogue' %}
                        sidebar-nav__link--active
                    {% endif %}
                "
                href="{% url 'service_catalogue:list' %}"
            >
                Services
            </a>
        {% endif %}

        {% if perms.product_catalogue.view_product %}
            <a
                class="sidebar-nav__link
                    {% if request.resolver_match.app_name == 'product_catalogue' %}
                        sidebar-nav__link--active
                    {% endif %}
                "
                href="{% url 'product_catalogue:list' %}"
            >
                Products
            </a>
        {% endif %}

        {% if request.user.is_staff %}
            <p class="sidebar-nav__label">
                Administration
            </p>

            <a
                class="sidebar-nav__link"
                href="{% url 'admin:index' %}"
            >
                Django administration
            </a>
        {% endif %}
    </nav>
</aside>